body, html {
    background-color: #f6f6f6;
}

#painting {
    background-color: #fff4db;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 0px #8d8d8d;
}

#toprow {
    height: 290px
}

#bigbox {
    width: 290px;
    height: 290px; 
}

.mediumbox {
    width: 100px;
    height: 140px;
}

#bottombox{
    width: 100;
    height: 100;
}


#bottommiddle{
    height: 100px;
    width:260px;
}

#bottomRightBox{
    height: 45px;
    width: 20px;
}

#bottomRightBox2{
    height:45px;
    width: 20px;
}


.right { float: right; }
.left { float:left; }

#divider1 { 
    height: 290px; 
    width: 10px;
}





#divider2 {
    height: 10px;
    width: 100px;
    }
#middlerow {
    height: 10px;
    width: 400px;
}

#bottomrow{
    height: 10px;
   
}
#divider3 { 
    height: 100px; 
    width: 10;
}
#divider4{
    height:100px;
    width: 10px;
}
#divider5{
    height: 10px;
    width:20px;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}

.divider {
    background-color: grey;
}